* {
    font-family: $mainFont;
    color: $white;
}

h1 {
    font-family: $titleFont;
}

h2 h3 {
    font-family: $titleFont;
    color: $colorNavTitleBtn;
}

a {
font-family: $mainFont;
  text-decoration: none;
  color: $white;
  
}

